:host {
  --color-fg-locked: #9e9e9e;
  --color-bg-locked: #ffab91;
  --color-bg-unavailable: #f9f9f9;
}

.container.lock-plugin {
  .calendars {
    .calendar {
      &:first-child {
        > .header {
          &.no-previous-month {
            .previous-button {
              visibility: hidden;
            }
          }
        }
      }
      &:last-child {
        > .header {
          &.no-next-month {
            .next-button {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .calendar {
    > .days-grid {
      > .day {
        &.not-available {
          pointer-events: none;
          background-color: var(--color-bg-unavailable);
          color: var(--color-fg-locked);
          font-style: italic;
        }

        &.locked {
          color: var(--color-fg-locked);
          background-color: transparent;
          border: 1px solid var(--color-border-locked);
          pointer-events: none;

          &:not(.start):not(.end) {
            background-image: repeating-linear-gradient(
              135deg,
              transparent,
              var(--color-bg-locked) 2px,
              transparent 2px,
              transparent 4px
            );
            font-style: italic;
          }
        }
      }
    }
  }

  .preset-plugin-container {
    > button {
      &:disabled {
        pointer-events: none;
        color: var(--color-fg-locked);
      }
    }
  }
}
