{
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./packages/*/tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": [
        "packages/**/*.ts"
      ]
    }
  ],
  "rules": {},
  "ignorePatterns": [
    "**/__tests__/**/*",
    "*.js"
  ]
}