---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

:root {
  --color-profile-color-modes-toggle-moon: #999;
  --color-profile-color-modes-toggle-track-bg: #fff;
  --color-profile-color-modes-toggle-thumb-bg: #2f363d;
  --color-profile-color-modes-toggle-track-border: #d1d5da;
}

#bg {
  background-color: #fdfbfa;
  background-image: url(../images/bg-light.webp);
  transform: scaleX(-1);
}

.main-content-wrap {
  background-color: #fff;
}

.site-footer {
  color: #333;
}

.text-red {
  color: #ff5722;
}

blockquote {
  position: relative;
  margin: 1.666em 0;
  background: #f2f5f7;
  border-left: 3px solid #64b5f6;
  padding: 1em;
}

.browser-icon {
  background-image: url(/assets/images/browsers.png);
  width: 37px;
  height: 37px;
  background-size: 215px;
  background-repeat: no-repeat;
  display: inline-block;
}
.browser-icon.chrome-icon {
  background-position: -3px -3px;
}
.browser-icon.edge-icon {
  background-position: -44px -3px;
}
.browser-icon.firefox-icon {
  background-position: -90px -3px;
}
.browser-icon.opera-icon {
  background-position: -132px -3px;
}
.browser-icon.safari-icon {
  background-position: -175px -3px;
}
.image-link a {
  background-image: none;
}
blockquote.inform {
  background-color: #fff9c4;
  border-left: 3px solid #4caf50;
}
.nowrap {
  white-space: nowrap;
}
tr.highlight td {
  background-color: #fffde7;
}
.nav-list .nav-list-item {
  background-color: #fff;
}

#app {
  &.spinner {
    position: relative;

    &:before {
      background-color: #fff;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      z-index: 6;
      transition: opacity .15s;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    &:after {
      content: "";
      border-radius: 50%;
      border-top: 3px solid #305cd4;
      animation: spinner 1.8s linear infinite;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      z-index: 7;
    }
  }
}

img.kofiimg {
  display: initial !important;
  vertical-align: middle;
  height: 13px !important;
  width: 20px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none;
  margin-top: 0;
  margin-left: 0 !important;
  content: url('https://storage.ko-fi.com/cdn/cup-border.png')
}

.kofiimg:after {
  vertical-align: middle;
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-top: 0;
  margin-right: 6px;
  margin-left: 0;
  margin-bottom: 4px !important;
  content: url('https://storage.ko-fi.com/cdn/whitelogo.svg')
}

.btn-container {
  white-space: nowrap;
}

span.kofitext {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: #fff !important;
  text-wrap: none;
  vertical-align: middle; 
  padding: 4px 0;
  text-align: center;
  text-decoration: none !important;
}

.kofitext a {
  color: #fff !important;
  text-decoration: none !important;
}

.kofitext a:hover {
  color: #fff !important;
  text-decoration: none
}

a.kofi-button {
  min-width: 120px;
  display: inline-block !important;
  background-color: #29abe0;
  padding: 2px 12px !important;
  text-align: center !important;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600 !important;
  font-size: 12px !important
}

a.kofi-button:visited {
  color: #fff !important;
  text-decoration: none !important
}

a.kofi-button:hover {
  opacity: .85;
  color: #f5f5f5 !important;
  text-decoration: none !important
}

a.kofi-button:active {
  color: #f5f5f5 !important;
  text-decoration: none !important
}

.kofitext img.kofiimg {
  height: 15px !important;
  width: 22px !important;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1)
  }

  60% {
    transform: rotate(0) scale(1)
  }

  75% {
    transform: rotate(0) scale(1.12)
  }

  80% {
    transform: rotate(0) scale(1.1)
  }

  84% {
    transform: rotate(-10deg) scale(1.1)
  }

  88% {
    transform: rotate(10deg) scale(1.1)
  }

  92% {
    transform: rotate(-10deg) scale(1.1)
  }

  96% {
    transform: rotate(10deg) scale(1.1)
  }

  100% {
    transform: rotate(0) scale(1)
  }
}
