---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

:root {
  --color-profile-color-modes-toggle-moon: #999;
  --color-profile-color-modes-toggle-track-bg: #fff;
  --color-profile-color-modes-toggle-thumb-bg: #2f363d;
  --color-profile-color-modes-toggle-track-border: #d1d5da;
}

#bg {
  background-color: #fdfbfa;
  background-image: url(../images/bg-light.webp);
  transform: scaleX(-1);
}

.main-content-wrap {
  background-color: #fff;
}

.site-footer {
  color: #333;
}

.text-red {
  color: #ff5722;
}

blockquote {
  position: relative;
  margin: 1.666em 0;
  background: #f2f5f7;
  border-left: 3px solid #64b5f6;
  padding: 1em;
}

.browser-icon {
  background-image: url(/assets/images/browsers.png);
  width: 37px;
  height: 37px;
  background-size: 215px;
  background-repeat: no-repeat;
  display: inline-block;
}
.browser-icon.chrome-icon {
  background-position: -3px -3px;
}
.browser-icon.edge-icon {
  background-position: -44px -3px;
}
.browser-icon.firefox-icon {
  background-position: -90px -3px;
}
.browser-icon.opera-icon {
  background-position: -132px -3px;
}
.browser-icon.safari-icon {
  background-position: -175px -3px;
}
.image-link a {
  background-image: none;
}
blockquote.inform {
  background-color: #fff9c4;
  border-left: 3px solid #4caf50;
}
.nowrap {
  white-space: nowrap;
}
tr.highlight td {
  background-color: #fffde7;
}

#app {
  &.spinner {
    position: relative;

    &:before {
      background-color: #fff;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      z-index: 6;
      transition: opacity .15s;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    &:after {
      content: "";
      border-radius: 50%;
      border-top: 3px solid #305cd4;
      animation: spinner 1.8s linear infinite;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      z-index: 7;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
