* {
  box-sizing: border-box;
}
.container {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.3s ease-out;
  height: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8em;
  cursor: default;
  color: var(--color-fg-default);
  pointer-events: all;

  &.show {
    transform: scale(1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    height: auto;
  }

  &.inline {
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    height: auto;
    transform: scaleY(1);
  }

  > main {
    background-color: var(--color-bg-default);
  }

  > header,
  > footer {
    padding: 10px;
    background-color: var(--color-bg-secondary);
  }

  > footer {
    .footer-buttons {
      display: flex;
      justify-content: flex-end;
      column-gap: 5px;

      > button {
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: var(--border-radius);
        padding: 5px 10px;
        cursor: pointer;

        &.apply-button {
          color: var(--color-btn-primary-fg);
          border-color: var(--color-btn-primary-border);
          background-color: var(--color-btn-primary-bg);

          &:hover {
            color: var(--color-btn-primary-hover-fg);
            border-color: var(--color-btn-primary-hover-border);
            background-color: var(--color-btn-primary-hover-bg);
          }
        }

        &.cancel-button {
          color: var(--color-btn-secondary-fg);
          border-color: var(--color-btn-secondary-border);
          background-color: var(--color-btn-secondary-bg);

          &:hover {
            color: var(--color-btn-secondary-hover-fg);
            border-color: var(--color-btn-secondary-hover-border);
            background-color: var(--color-btn-secondary-hover-bg);
          }
        }
      }
    }
  }
}
