$sh-primary: #0B669A;
$sh-primary-alt: #488CB3;
$sh-secondary: #7DBE43;
$sh-secondary-alt: #9ECE72;

$sh-black: #333333;
$sh-dark-gray: #343A40;
$sh-medium-gray: #666666; 
$sh-moderate-gray: #808080;
$sh-cool-gray: #999999;
$sh-gray: #CCCCCC;
$sh-warm-gray: #E5E5E5;
$sh-light-gray: #F5F5F5;
$sh-blue-gray: #EDF4FA;

$sh-danger: #F60000;

$font-main: "Raleway", sans-serif;
$font-main-header: "Playfair Display", serif;
$font-secondary-header: "Raleway", sans-serif;

$resource-base-url: 'https://sabbaticalhomes-images-dev.s3-us-west-2.amazonaws.com/Original/rebuild/';